@()

@import helper.twitterBootstrap._
@import views.html.origo._

@main("Setup") {

    <div class="row">
        <div class="span12">
            <h3>No Pages</h3>
            <p>This installation has no pages set up. You can manually add them or have some sample pages.</p>
        </div>
    </div>

    <div class="row">
        <div class="span12">

            <div class="well">
                <p><em>Add sample data?</em></p>
                <a class="btn btn-success" href="@controllers.origo.routes.Setup.submit(true)">Yes, add sample pages</a>
                <a class="btn btn-primary" href="@controllers.origo.routes.Setup.submit(false)">No, I will add pages myself</a>
            </div>
        </div>
    </div>

}