@(title: String)(headline: String)(message: String) @*(rightColumns: List[String])*@

@main(title) {

<div class="menu">
    <div>
        <div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Learn</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Code</a></li>
                <li class="download"><a href="#">Downloads</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="logo"><div><img src="@routes.Assets.at("images/origo.png")"/></div></div>

<div class="main">

    <div class="content">
        <div class="headline">
            <h1>@headline</h1>
        </div>
        <div class="body">
            @Html(message)
        </div>
        <div class="right">
            @*
            @for((right,i) <- rightColumns.zipWithIndex) {
            <div class="@if(i==0){first}">
                @Html(right)
            </div>
            }
            *@
        </div>
    </div>

    <div class="footer">
        <div>
            <ul>
                <li><h5>Downloads</h5></li>
                <li><a href="#">Latest</a></li>
                <li><a href="#">Older</a></li>
                <li><a href="#">Samples</a></li>
            </ul>

            <ul>
                <li><h5>Learn</h5></li>
                <li><a href="#">Documentation</a></li>
                <li><a href="#">Source code</a></li>
                <li><a href="#">Mailing list</a></li>
                <li><a href="#">Bug tracker</a></li>
            </ul>

            <ul>
                <li><h5>Information</h5></li>
                <li><a href="#">About OrigoCMS</a></li>
                <li><a href="#">Commercial support</a></li>
                <li><a href="#">Team & Contributors</a></li>
                <li><a href="#">Licence</a></li>
            </ul>

        </div>

        <div class="copy">
            <hr>
            Origo CMS is released under the ??? licence
        </div>

    </div>

</div>


}